<div class="nav">
    <div class="ul">
        <div class="li">
            <div class="current">

                <a class="active" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
                <a class="rt" href="#">contact us</a>
                <a class="rt" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a>
                <a class="rt" [routerLink]="['/signup']" routerLinkActive="router-link-active">Register</a>
                <a class="rt" [routerLink]="['/feed']" routerLinkActive="router-link-active">Posts</a>
                <a class="rt" [routerLink]="['']" routerLinkActive="router-link-active">MyPosts</a>
                <a class="rt" [routerLink]="['/profile']" routerLinkActive="router-link-active">Profile</a>
                <!-- <a class="rt" [routerLink]="['/contactus']" routerLinkActive="router-link-active">CONTACTUS</a> -->
            </div>
        </div>
    </div>
</div>