<app-header></app-header>
<div class="body">
<!--    <div class="nav">
        
        <div class="ul">
            <div class="li">
                <div class="current">
                    <a class="a active" [routerLink]="['/']" routerLinkActive="router-link-active">Home</a>
                </div>
        
            </div>
        </div>
    </div> -->
    <form (ngSubmit)="loginUser(f)" #f="ngForm">
    <div class="login-page">
        <!-- <div style="color:whitesmoke">
            <h1 style="text-align: center;font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;">ACCOUNT LOGIN</h1>
        </div><br> -->
        <br /><br />
        <div class="form">
            <div class="login-form">
                <!-- <input [(ngModel)]="login.username" type="text" name="username" placeholder="Username" /> -->
                <input [(ngModel)]="login.email" type="text" name="email" placeholder="Email Address" />
                <input [(ngModel)]="login.password" type="password" name="password" placeholder="Password" />
                <button type="submit" [disabled]="!f.valid" >SIGN IN</button>
                <p class="message">Not registered? <a routerLink='/signup' routerLinkActive="router-link-active">Create an account</a></p>
            </div>
        </div>
    </div>
</form>
</div>

