<title>Home page</title>
<style>

</style>

<body>
    <app-header></app-header>
    <!-- <div class="bgimg">
        <div class="centered">
            <h1>FOLKS BUNCH</h1>
            <hr style="margin:auto;width:60%">
            <h1 style="font-size: 25px;font-style: normal;font-weight:lighter;text-align: center;">stay connected</h1>
        </div>
    </div> -->
    <div class="charts">
        <div class="piechart">
            <canvas id="piechart"></canvas>
        </div>
            
        <div class="donutchart">
            <canvas id="donutchart"></canvas>
        </div>
    </div>
</body>