<app-header></app-header>
<div class="body">
<form (ngSubmit)="registerUser(f)" #f="ngForm">
    <div class="page-wrapper bg-gra-01 font-poppins" style="padding-top: 1rem;">
        <div class="wrapper wrapper--w780">
            <div class="card card-3">
                <div class="card-heading">
                    <!-- <img src="../../assets/img/register.png" alt="" srcset=""> -->
                </div>
                <div class="card-body">
                    <h2 class="title">Registration Info</h2>
                    <div class="input-group">
                        <input [(ngModel)]="register.username" name="username" class="input--style-3" type="text" pattern="[a-zA-Z]*" #username="ngModel" placeholder="Username" required>
                        <span *ngIf="!username.valid && username.touched">Please enter valid information!!</span>
                    </div>

                    <div class="input-group">
                        <input [(ngModel)]="register.first_name" name="first_name" class="input--style-3" type="text" type="text" pattern="[a-zA-Z]*" #first_name="ngModel"  placeholder="First Name" required>
                        <span *ngIf="!first_name.valid && first_name.touched">Please give valid information!!</span>
                    </div>
                    <div class="input-group">
                        <input [(ngModel)]="register.last_name" name="last_name" class="input--style-3" type="text" pattern="[a-zA-Z]*" #last_name="ngModel" placeholder="Last Name" required>
                        <span *ngIf="!last_name.valid && last_name.touched">Please enter valid input!!</span> 
                    </div>
                    <div class="input-group">
                        <input [(ngModel)]="register.email" name="email" class="input--style-3" type="email" #email="ngModel" placeholder="Email" required>
                        <span *ngIf="!email.valid && email.touched">Email already exist/invalid!!</span> 
                    </div>
                    <div class="input-group">
                        <input [(ngModel)]="register.password" name="password" class="input--style-3" type="password" pattern="[a-zA-Z0-9]*" maxlength="8" minlength="8" #password="ngModel" placeholder="Password(must be of 8 charcters)" required>
                        <p *ngIf="!password.valid && password.touched">Please enter strong password</p>
                    </div>
                    <div class="p-t-10">
                        <button type="submit" [disabled]="!f.valid" >Register</button>
                        <p class="message">Already Registered?<a routerLink="/login" routerLinkActive="router-link-active">Login</a>
                            <!-- <button (click)="registerUser()" class="btn btn--pill btn--green">Register</button> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
</div>