<app-header></app-header>

<div class="body">
    <form (ngSubmit)="datafeed(f)" #f="ngForm" entype="multipart/form-data">
    <div class="row">
        <div class="full-body">
            <div class="card">
                <textarea class="feed-textarea" [(ngModel)]="posts.description" name="desc" placeholder=" Write something here.. "></textarea>
                <input type="file" [(ngModel)]="posts.image" name="image" (change)="onFileSelect($event)" #fileInput>
            </div>
            <button type="submit" class="btnstyle">Post</button>
            <span *ngIf="feedsArr.length  == 0">
                There are no posts to display at the moment.Please do create new posts! 
            </span>
            <div class="card" *ngFor="let feed of feedsArr.reverse()">
                <div class="posts-img-container">
                    <img class="posts-img" src="{{ feed.image }}">
                </div>
                    
                <div class="feed-desc"> {{ feed.description }} </div>
                <h5>User:  {{ feed.username }}</h5>
                <h5>Last updates on:  {{ feed.post_time | date:'medium' }}</h5> 
            </div>
        </div>
    </div>
</form>
</div>